body{
    margin: 0;
    font-size: 2em;
}

h1, p{
    margin: 0;
}

.container{

}

.item{
    padding: 5%;
}

.item-a{
    background-color: yellow;
}

.item-b{
    background-color: green;
}